// @import "../../common.scss";

// .IntroSection {
//   margin: 0 auto;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
//   text-align: center;

//   .textWrap {
//     position: relative;
//     width: 45rem;
//     .subTitle {
//       position: absolute;
//       right: 5rem;
//       top: 10rem;
//       a {
//         color: white;
//         font-size: 1rem;
//         font-weight: 600;
//         border-radius: 2rem;
//         background-color: $neonblue1;
//         padding: 1rem 2rem;
//       }
//     }
//     .h1_top,
//     .h1_bottom {
//       margin: 0;
//       font-size: 12rem;
//       display: flex;
//       justify-content: center;
//       flex-wrap: wrap;
//     }
//     .h1_top {
//       justify-content: left;
//     }
//     .h1_bottom {
//       justify-content: right;
//     }
//     .char1 {
//       display: inline-block;
//       transition: transform 0.3s ease;
//     }

//     .p {
//       transform: rotate(-15deg) translateX(5px);
//     }
//     .o {
//       transform: rotate(10deg) translateY(10px);
//     }
//     .r {
//       transform: rotate(-10deg) translateX(0px);
//     }
//     .t {
//       transform: rotate(-10deg) translateY(20px);
//     }
//     .f {
//       transform: rotate(-5deg) translateX(-5px);
//     }
//     .o2 {
//       transform: rotate(15deg) translateY(-10px);
//     }
//     .l {
//       transform: rotate(-10deg) translateX(-5px);
//     }
//     .i {
//       transform: rotate(10deg) translateY(30px);
//     }
//     .o3 {
//       transform: rotate(-10deg) translateX(-5px);
//     }
//   }
// }
.IntroPage {
  height: 200vh;
}
.ball {
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  position: fixed;
  top: 100px;
  left: calc(50% - 25px);
  transition: transform 0.2s ease-out;
}
