@import "../../common.scss";

@font-face {
  font-family: "BladeLogicDemoRegular";
  src: url("../../../../assets/BladeLogicDemoRegular-ALnVD.otf")
    format("opentype");
  font-weight: normal;
}

.IntroSection {
  background-color: $spaceBackground;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 1rem;
}

.lineStyle {
  animation: introAnimation 1s ease-in-out forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem 10rem;
  background-color: $backgroundBlack;
  border: 2px solid white;
  border-radius: 10px;
}

@keyframes introAnimation {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.textWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;

  h1 {
    font-family: "BladeLogicDemoRegular", sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 1rem;
    font-size: 5rem;
    display: flex;
    position: relative;
  }
}
