.aboutMeSection {
  width: 35rem;
  margin: 20px;
  color: #fff;
  position: relative;
}

.introWrap {
  position: relative;
  margin: 1rem;
  padding: 1rem 2rem;
  border-radius: 10px;
  border: 2px solid #fff;
}

.lineShape {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  filter: url(#neon);

  &.MeBottomLine {
    position: absolute;
    bottom: -1.5rem;
    left: 0; 
    width: 100%; 
    height: 40px; 
  }

  .neonLine {
    stroke-dasharray: 450; 
    stroke-dashoffset: 450; 
    animation: drawLine 2s ease-in-out forwards, neonGlow 1.5s ease-in-out infinite alternate;
  }
}

@media (max-width: 1200px) {
  .textWrap {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 768px) {
  .textWrap {
    padding: 1rem;
    border: none;
  }
  .introWrap {
    max-width: 100%;
  }
}
