.me_outer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // 화면 전체 높이를 차지하도록 설정
  width: 100%;
}

.me_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .meContentsWrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
  }

  .body {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
