.icon {
  // 공통 스타일
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  .title {
    font-size: 1.5rem;
    font-weight: 600;
  }

  //   &.profile_wrap {
  //     // profile 아이콘에 대한 스타일

  //     color: #000080;

  //     &:hover {
  //       background-color: #e0e7ff;
  //     }
  //   }
}
