@import "../../common.scss";

.infoSection {
  width: 100%;
  height: 100%;
  background-color: black;

  .infoContainer {
    padding: 1rem;
  }
  .infoText_wrap {
   
      font-size: 1rem;
      color: white;
    
  }
}
