@import "../common.scss";

.cardContent {
  .titleWrap {
    p {
      color: black;
      font-size: 3rem;
      font-weight: 800;
    }
    a {
      font-size: 1.5rem;
    }
  }
  .description {
    font-size: 1rem;
    line-height: 1.4;
  }

  .card_inner {
    width: 20rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid red;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
  }

  .linkWrap {
    display: flex;
    align-items: center;
    gap: 1rem;
    a {
      padding: 1rem;
      font-size: 1.2rem;
      border: 2px solid red;
      border-radius: 1.5rem;
      color: red;
    }
  }
}
