@import "../../common.scss";

.LayoutNext {
  cursor: pointer;
  align-self: center;
  background-color: $neongreen;
  color: $neonblue1;
  border: none;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1rem 2rem;
  transition: 0.15s;
  margin-top: 2rem;

  &:hover {
    color: white;
    background-color: black;
  }
}
