@import "../../common.scss";


.AboutMeButton {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: 20px;
  background-color: black;
  color: white;
  border: none;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1rem 2rem;
  overflow: hidden;
  transition: 0.15s;
  z-index: 1;

  .word {
    display: inline-block;
    position: relative;
    transition: all 0.15s ease;
    text-align: center;
  }

  .whiteSpace {
    display: inline-block;
    width: 1rem;
  }

  &:hover .word {
    transition: none;
  }
}
