@import "../common.scss";

.MainLayout_section {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  transform: translateY(100%);
  transition: transform 1s ease;

  &.slide-in {
    transform: translateY(0);
  }

  .layoutLine_container {
    width: 100%;
    height: 100%;
    position: relative;

    .vertical-line,
    .horizontal-line {
      position: absolute;
      z-index: 2;
    }

    .vertical-line {
      top: 0;
      bottom: 0;
      width: 3px;
      background-color: $black;
      animation: drawVerticalLine 3s forwards;
      transform-origin: top;

      &.left {
        left: 25%;
      }

      &.right {
        left: 50%;
      }
    }

    .horizontal-line {
      left: 0;
      right: 0;
      height: 3px;
      background-color: $black;

      &.top {
        top: 33.3%;
        animation: drawHorizontalLine_top 3s forwards;
        transform-origin: left;
      }

      &.bottom {
        top: 66.6%;
        animation: drawHorizontalLine_bottom 2s forwards;
        transform-origin: left;
      }
    }

    .icon-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .icon-item {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
      }

      #item1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 25%;
        height: 33.3%;
      }

      #item2 {
        position: absolute;
        top: 33.3%;
        left: 25%;
        width: 25%;
        height: 33.3%;
      }

      #item3 {
        position: absolute;
        top: 66.6%;
        left: 0;
        width: 25%;
        height: 33.3%;
      }

      #item4 {
        position: absolute;
        top: 66.6%;
        left: 25%;
        width: 25%;
        height: 33.3%;
      }
    }

    .content-display {
      position: absolute;
      top: 0;
      left: 50%;
      width: 50%;
      height: 66.6%;
      display: flex;
      justify-content: center;
      align-items: center;

      .contentStyle {
        width: 100%;
        height: 100%;
      }
    }

    .ButtonWrap {
      width: 100%;
      height: 33%;
      bottom: 0;
      left: 0;
      display: flex;
      position: absolute;
      justify-content: space-between;
      align-items: center;
      padding: 0 25%;
      box-sizing: border-box;
    }

    .GitHubBtn {
      flex: 0 0 auto;
      position: absolute;
      right: 35%;
      top: 25%;
      transform: translate(-50%, -50%);
    }

    .NextBtn {
      flex: 0 0 auto;
      position: absolute;
      right: 10%;
      top: 66.6%;
      transform: translate(50%, -50%);
    }
  }
}

//--------------keyframes--------------\\

@keyframes drawVerticalLine {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

@keyframes drawHorizontalLine_top {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@keyframes drawHorizontalLine_bottom {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}
