@import "../../common.scss";

.IntroSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  text-align: center;
  padding: 20px;
}

