@import "../../common.scss";
body {
  --white: #fafafa;
  --background: var(--white);
  --accent: var(--pink);
  margin: 0;
  padding: 0;
  padding-bottom: 100px;
  overflow: hidden;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-family: sofia-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: black;
  padding-top: 100px;
  transform: translateX(-100%);
  will-change: transform;
  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
  }

  li {
    color: var(--background);
    display: block;
    transform-origin: -20px 50%;
    font-weight: bold;
    font-size: 32px;
    padding: 10px;
    will-change: transform, opacity, filter;
  }

  ul,
  li {
    list-style: none;
    margin: 0;
  }
}

.menuToggle {
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: black;
  padding: 10px;
  path {
    fill: white;
  }
}
