.grid {
  display: grid;
  --grid-border-radius: 8px;
  grid-template-columns: repeat(2, 50%);
}

.grid--large {
  grid-auto-rows: 32vmin;
  padding: 1rem;
  --grid-padding: 0.5vw;
}

//--grid mini, 좌측 하단에 위치 하는 부분--\\

.grid--mini {
	width: 220px;
	height: 190px;
	--grid-padding: 1px;
    margin-bottom: 3vh;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
}


.content {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}
//--------------------------media--------------------\\
@media screen and (min-width: 53em) {
  .content {
    width: 38%;
  }
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .grid__cell--padded {
    padding: var(--grid-padding);
  }
  .grid__cell-c1-r1 {
    grid-column: 1;
    grid-row: 1;
  }
  .grid__cell-c2-r1 {
    grid-column: 2;
    grid-row: 1;
  }
  .grid__cell-c4-r1 {
    grid-column: 4;
    grid-row: 1;
  }

  .grid__cell-c1-r2 {
    grid-column: 1;
    grid-row: 2;
  }
  .grid__cell-c3-r2 {
    grid-column: 3;
    grid-row: 2;
  }
  .grid__cell-c2-r3 {
    grid-column: 2;
    grid-row: 3;
  }
  .grid__cell-c4-r3 {
    grid-column: 4;
    grid-row: 3;
  }
  .grid__cell-c3-r3 {
    grid-column: 3;
    grid-row: 3;
  }
  .grid--mini {
    visibility: visible;
    position: relative;
  }
  .content--open .grid--mini {
    pointer-events: auto;
  }
  body #cdawrap {
    position: relative;
    margin-top: auto;
    --cda-left: auto;
    --cda-right: auto;
    --cda-width: 300px;
    --cda-bottom: auto;
    --cda-top: auto;
    opacity: 1 !important;
    pointer-events: auto;
    z-index: 1;
  }
}
