.grid__cell {
  display: grid;
  align-items: end;
}

.grid__cell-img {
  transform: translate(0px, 0px) !important;
  opacity: 1;
  width: calc(100% - var(--grid-padding) * 2);
  height: calc(100% - var(--grid-padding) * 2);
  margin: var(--grid-padding);
  border-radius: var(--grid-border-radius);
  display: block;
  position: relative;
  overflow: hidden;
}

.grid__cell-img-inner {
  border-radius: var(--grid-border-radius);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--grid-border-radius);
  }
}
