@import "../../common.scss";

.content_container {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.project_detail {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  justify-content: center;
}
.closeBtn {
  display: flex;
  justify-content: left;
  button {
    cursor: pointer;
    border: none;
    outline: none;
    padding-bottom: 1rem;
    background-color: black;
    color: white;
    font-size: 2rem;
  }
}
.cardContent {
  .myWork_wrap {
    display: flex;
    gap: 1rem;

    .myWork {
      font-weight: 700;
      padding: 1rem;
      border-radius: 1.5rem;

      &.true {
        border: 2px solid $neonblue2;
        background-color: $neonblue2;
        color: $neonblue1;
      }

      &.false {
        border: 2px solid white;
        background-color: rgba(255, 255, 255, 0.212);
        color: white;
      }
    }
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  .titleWrap {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    p {
      font-size: 3rem;
      font-weight: 800;
      margin: 0;
      padding: 2rem 0 1rem 0;
    }
    a {
      font-size: 1.5rem;
    }
  }

  .description,
  .card_inner {
    color: white;
  }
  .description {
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 1rem;
  }

  .card_inner {
    width: 20rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 10px 20px;
    border: 2px solid $neonblue2;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
  }

  .linkWrap {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    a {
      padding: 1rem;
      font-weight: 700;
      font-size: 1.2rem;
      border: 2px solid white;
      border-radius: 1.5rem;
      color: white;
      transition: 0.2s;
      &:hover {
        border: 2px solid $neongreen;
        background-color: $neongreen;
        color: $neonblue1;
      }
    }
  }
}
.contentImg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  .imgWrap {
    width: 30rem;
    height: 30rem;
    img {
      border-radius: 8px;
      width: 100%;
      height: 100%;
    }
  }
}
